body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: BMJUA;
}

header {
  background-color: white;
  color: black;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 10;
  display: flex;
  justify-content: center;
  font-size: 250%;
}

.no-underline {
  text-decoration: none;
}

nav a {
  color: black;
  text-decoration: none;
  margin-right: 40px;
}

.footer-1 {
  margin-top: 60px;
}

.usestyle {
  color: black;
  font-size: 40px;
  margin-top: 10%;
  padding: 1%;
}

.continer1 {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  margin-left: -100px;
}

.continer2 {
  background-color: #f1f1f1;
  margin-top: 100px;
  text-align: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
}

.continer3-1 {
  padding: 20px;
  text-align: center;
  width: 150px;
  height: 130px;
  border: 1px solid black;
  border-radius: 30%;
  margin-right: 50px;
  margin-left: 50px;
}

.continer3-1,
h2 {
  font-size: 30px;
}

.continer3 {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.continer4 {
  margin-top: 150px;
  text-align: center;
}

.introduce1 {
  margin-left: 80px;
  margin-top: 40px;
  font-size: 20px;
  height: 10%;
  width: 38%;
}

.continer2-1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.introduce2 {
  font-size: 23px;
  width: 30%;
}

.introduce2,
h2 {
  margin-top: 20px;
}

.introduce1-gitimg {
  width: 45px;
}

.introduce1-blog {
  width: 45px;
}

.introduce2-img {
  width: 500px;
  height: 250px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 20px;
}

.continer3-img {
  width: 1050px;
}

.continer4-1img {
  width: 500px;
  margin-right: 100px;
}

.continer4-2img {
  height: 700px;
  width: 500px;
}

.introduce1-continer {
  position: absolute;
  margin-top: -85px;
  margin-left: 755px;
  width: 150px;
}

.footer-gitimg {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50px;
  margin-right: 30px;
}
.footer-blogimg {
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hi {
  font-size: 50px;
  color: black;
}

.continer1-img {
  margin-left: 10%;
  width: 250px;
  height: 250px;
  margin-top: 40px;
  border-radius: 40%;
}

#typing {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.continer1,
.continer2,
.continer3,
.continer4 {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fadeInUp {
  opacity: 1;
  transform: translateY(0);
}

main {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

section {
  margin-top: 0px;
  width: 30%;
  background-color: white;
  border-radius: 2%;
  border: 2px solid black;
}

section div h2 {
  color: white;
}

/* ---------------------------------------------------------------- */

.Developcontiner1 {
  width: 80%;
  height: 88%;
  margin-left: 10%;
  margin-top: 2%;
  border: 2px solid black;
}

.Developsection1 {
  height: 1000px;
}

.title1 {
  width: 50%;
  height: 30%;
}

/* ---------------------------------------------------------------- */

@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1221px) and (max-width: 1920px) {
  nav ul {
    margin-left: 50%;
    font-size: 130%;
  }

  .continer1-img {
    margin-left: 5%;
    width: 30%;
  }

  .introduce2 {
    font-size: 17px;
    margin-top: 0px;
  }

  .introduce2-img {
    width: 250px;
    height: 200px;
    margin-left: 80px;
  }

  .continer3-img {
    width: 80%;
  }

  .continer4-1img,
  .continer4-2img {
    width: 40%;
  }

  .introduce1 {
    margin-top: -15px;
    font-size: 18px;
  }

  .footer-gitimg,
  .footer-blogimg {
    width: 40px;
  }

  .hi {
    font-size: 45px;
  }

  #typing {
    font-size: 25px;
  }
}
/* 모바일 */
@media (max-width: 768px) {
  .introduce1 {
    width: 40px;
  }

  .footer-gitimg {
    width: 30px;
  }

  .footer-blogimg {
    width: 30px;
  }

  header {
    margin-left: -50px;
    height: 40px;
  }

  section {
    margin-top: -20px;
    width: 90%;
  }

  .continer1 {
    width: 100%;
    margin-left: 0px;
    margin-top: 120px;
  }

  .continer3 {
    margin-top: -5%;
  }

  .continer4 {
    margin-top: 10%;
  }

  .footer-1 {
    margin-top: 0;
  }

  nav ul {
    margin-left: 10%;
    font-size: 25px;
    margin-top: 5px;
  }

  .continer1-img {
    margin-left: 60px;
    margin-top: -100px;
    width: 100px;
    height: 80px;
  }

  .hi {
    margin-top: -135px;
    font-size: 15px;
    margin-left: -60px;
  }

  #typing {
    margin-left: -60px;
    margin-top: -5px;
    font-size: 10px;
  }

  .continer2 {
    margin-top: -90px;
    margin-bottom: 50px;
    height: 140px;
  }

  .continer2,
  h2 {
    font-size: 9px;
  }

  .continer3-1 {
    height: 60px;
    margin-left: 30px;
    margin-right: 30px;
    width: 60px;
    padding: 0;
    font-size: 10px;
  }

  .introduce2 {
    margin-right: 0;
    margin-left: 0;
    width: 350px;
    height: 70px;
    font-size: 6.5px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .introduce1-gitimg {
    margin-left: -60px;
    width: 15px;
  }
  .introduce1-blog {
    width: 15px;
  }
  .introduce2-img {
    margin-left: 0;
    margin-right: 10px;
    width: 120px;
    height: 60px;
  }
  .continer3-img {
    width: 80%;
  }

  .continer3 h2 {
    margin-top: 10px;
    font-size: 12px;
  }

  .continer4-1img {
    width: 30%;
    height: 40%;
    margin: 0;
  }
  .continer4-2img {
    width: 30%;
    height: 40%;
  }

  .continer4 h2 {
    font-size: 7px;
  }
}

@media (min-width: 769px) and (max-width: 1220px) {
  section {
    width: 96%;
  }

  .continer1 {
    width: 95%;
    margin-left: -10px;
  }

  .continer2 {
    width: 95%;
    margin-left: 60px;
  }

  .introduce2 {
    margin-top: 150px;
    margin-right: 10px;
    font-size: 15px;
  }

  .continer1-img {
    margin-top: 50px;
    width: 300px;
    height: 250px;
  }

  .introduce2-img {
    margin-top: 100px;
    width: 400px;
    height: 300px;
  }
}
